---

- name: Main tasks
  when:
    - ansible_facts.os_family in ['RedHat', 'Debian']
    - ansible_facts.distribution != 'Amazon'
  tags:
    - sshguard_install
    - sshguard_config
    - sshguard_service
    - sshguard
  block:
    - name: Load dependency variables
      ansible.builtin.include_vars: "{{ item }}"
      loop:
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}-{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}.yml"

    - name: Install Tasks
      ansible.builtin.import_tasks: install.yml

    - name: Config Tasks
      ansible.builtin.import_tasks: config.yml

    - name: Service Tasks
      ansible.builtin.import_tasks: service.yml
  rescue:
    - name: Print Error
      ansible.builtin.debug:
        msg: "Unsupport platform or error occurred due to some reason."
      failed_when: true
